// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255, 255, 255;

  --ion-text-color: #000000;
  --ion-text-color-rgb: 0, 0, 0;

  /** primary **/
  --ion-color-primary: #000085;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3d4364;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** Font Sizes **/
  --small: 13px;
  --normal: 14px;
  --medium: 18px;
  --large: 22px;
  --xlarge: 26px;

  /** Font Weight **/
  --font-weight-normal: normal;
  --font-weight-bold: bold;

  /** color **/
  --blue-color-standard: #000085; //hsl(240,100%,26.1%)
  --blue-color-dark: #28326b;     //hsl(231,45.6%,28.8%)

  --grey-color-standard: #c9c9c9; //hsl(0,0%,78.8%)
  --grey-color-dark: #5d5d5d;     //hsl(0,0%,36.5%)

  --white-color-standard: #ffffff;  //hsl(0,0%,100%)
  --black-color-standard: #000000;  //hsl(0,0%,0%)
  --green-color-standard: #2dd36f;  //hsl(143.9,65.4%,50.2%)
  --red-color-standard: #ff0000;    //hsl(0,100%,50%)
  --orange-color-standard: #ff6e00; //hsl(25.9,100%,50%)

  /** background Color **/
  --background-white-color-standard: #ffffff;
  --background-color-for-white-color-standard: #2c2c2c;
  --background-color-for-white-color-standard-original: #2c2c2c;
  --background-color-for-white-color-standard-contrast: #000000;

  --background-blue-color-standard: #000085;
  --background-color-for-blue-color-standard: #f3f3f3;
  --background-color-for-blue-color-standard-original: #f3f3f3;
  --background-color-for-blue-color-standard-contrast: #ffffff;

  --background-blue-color-dark: #28326b;
  --background-color-for-blue-color-dark: #f3f3f3;
  --background-color-for-blue-color-dark-original: #f3f3f3;
  --background-color-for-blue-color-dark-contrast: #ffffff;

  --background-grey-color-standard: #c9c9c9;
  --background-color-for-grey-color-standard: #2c2c2c;
  --background-color-for-grey-color-standard-original: #2c2c2c;
  --background-color-for-grey-color-standard-contrast: #000000;

  --background-grey-color-dark: #5d5d5d;
  --background-color-for-grey-color-dark: #f3f3f3;
  --background-color-for-grey-color-dark-original: #f3f3f3;
  --background-color-for-grey-color-dark-contrast: #ffffff;

  --background-orange-color-standard: #ff6e00;
  --background-color-for-orange-color-standard: #f3f3f3;
  --background-color-for-orange-color-standard-original: #f3f3f3;
  --background-color-for-orange-color-standard-contrast: #ffffff;

  --background-black-color-standard: #000000;

  // new style variables
  --primary-color: #0037ff;
  --secondary-color: #ff8800;
  --background-for-primary-color: #D6DFFF;
  --font-color: #5c6181;
  --li-font-color: #5c6181;
  --bg-color: #fff;
  --heading-color: #22294f;
  --dark-color: #000000;
  --border-color: #dce1f4;
  --activeText-color: #222947;
  --lightSky-bg: #f9fbff;
  --lightgrey-border: #c3c3c3;
  --active-blue: #0037ff;
  --white-color: #000000;
  --lightSkyWhite-bg: #ffffff;
  --background-for-secondary-color: #FFECD6;
  --background-btn-blue:#f3f5ff;
  --background-btn-blue-color: #151a36;
  --primary-color-dm-orange: #0037ff;
  --brightnessIcons: brightness(1);
  --border-color-input: #dce1f4;
}

/*
 * Dark Colors
 * -------------------------------------------
 */

body[color-theme="dark"] {

  --ion-background-color: #000000;
  --ion-background-color-rgb: 0,0,0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-toolbar-background: #0d0d0d;

  --ion-item-background: #000000;
  --ion-item-background-activated: #313131;

  /** color **/
  --blue-color-standard: #ffffff; //hsl(240,100%,26.1%)
  --blue-color-dark: #ffffff;     //hsl(231,45.6%,28.8%)

  --grey-color-standard: #c9c9c9; //hsl(0,0%,78.8%)
  --grey-color-dark: #ffffff;     //hsl(0,0%,36.5%)

  --white-color-standard: #ffffff;  //hsl(0,0%,100%)
  --black-color-standard: #ffffff;  //hsl(0,0%,0%)
  --green-color-standard: #2dd36f;  //hsl(143.9,65.4%,50.2%)
  --red-color-standard: #ff7373;    //hsl(0,100%,50%)
  --orange-color-standard: #ffb47b; //hsl(25.9,100%,50%)

  /** background Color **/
  --background-white-color-standard: #151a36;
  --background-color-for-white-color-standard: #c5d3f9;
  --background-color-for-white-color-standard-original: #c5d3f9;
  --background-color-for-white-color-standard-contrast: #c5d3f9;

  --background-blue-color-standard: #000085;
  --background-color-for-blue-color-standard: #f3f3f3;
  --background-color-for-blue-color-standard-original: #f3f3f3;
  --background-color-for-blue-color-standard-contrast: #ffffff;

  --background-blue-color-dark: #28326b;
  --background-color-for-blue-color-dark: #f3f3f3;
  --background-color-for-blue-color-dark-original: #f3f3f3;
  --background-color-for-blue-color-dark-contrast: #ffffff;

  --background-grey-color-standard: #2c2c2c;
  --background-color-for-grey-color-standard: #c9c9c9;
  --background-color-for-grey-color-standard-original: #c9c9c9;
  --background-color-for-grey-color-standard-contrast: #000000;

  --background-grey-color-dark: #5d5d5d;
  --background-color-for-grey-color-dark: #f3f3f3;
  --background-color-for-grey-color-dark-original: #f3f3f3;
  --background-color-for-grey-color-dark-contrast: #ffffff;

  --background-orange-color-standard: #ff6e00;
  --background-color-for-orange-color-standard: #f3f3f3;
  --background-color-for-orange-color-standard-original: #f3f3f3;
  --background-color-for-orange-color-standard-contrast: #ffffff;

  --background-black-color-standard: #000000;

  // new style variables
  --primary-color: #f5f7ff;
  --secondary-color: #ff8800;
  --font-color: #5c6181;
  --li-font-color: #ffffff;
  --bg-color: #151a36;
  --heading-color: #ffffff;
  --dark-color: #ffffff;
  --border-color: #f8f9ff;
  --activeText-color: #ffffff;
  --lightSky-bg: #22294f;
  --lightgrey-border: #ffffff;
  --active-blue: #0037ff;
  --white-color: #000000;
  --lightSkyWhite-bg: #22294f;
  --background-for-secondary-color: #3A2B2D;
  --background-for-primary-color: #22294f;
  --background-btn-blue:#22294F;
  --background-btn-blue-color: #ffffff;
  --primary-color-dm-orange: #ff8800;
  --brightnessIcons: brightness(3.5);
  --border-color-input: #22294f;
}

/*
 * iOS Dark Theme
 * -------------------------------------------
 */

.ios body[color-theme="dark"] {

  --ion-background-color: #000000;
  --ion-background-color-rgb: 0,0,0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-toolbar-background: #0d0d0d;

  --ion-item-background: #000000;
  --ion-item-background-activated: #313131;

  /** color **/
  --blue-color-standard: #ffffff; //hsl(240,100%,26.1%)
  --blue-color-dark: #ffffff;     //hsl(231,45.6%,28.8%)

  --grey-color-standard: #c9c9c9; //hsl(0,0%,78.8%)
  --grey-color-dark: #ffffff;     //hsl(0,0%,36.5%)

  --white-color-standard: #ffffff;  //hsl(0,0%,100%)
  --black-color-standard: #ffffff;  //hsl(0,0%,0%)
  --green-color-standard: #2dd36f;  //hsl(143.9,65.4%,50.2%)
  --red-color-standard: #ff7373;    //hsl(0,100%,50%)
  --orange-color-standard: #ffb47b; //hsl(25.9,100%,50%)

  /** background Color **/
  --background-white-color-standard: #151a36;
  --background-color-for-white-color-standard: #c5d3f9;
  --background-color-for-white-color-standard-original: #c5d3f9;
  --background-color-for-white-color-standard-contrast: #c5d3f9;

  --background-blue-color-standard: #000085;
  --background-color-for-blue-color-standard: #f3f3f3;
  --background-color-for-blue-color-standard-original: #f3f3f3;
  --background-color-for-blue-color-standard-contrast: #ffffff;

  --background-blue-color-dark: #28326b;
  --background-color-for-blue-color-dark: #f3f3f3;
  --background-color-for-blue-color-dark-original: #f3f3f3;
  --background-color-for-blue-color-dark-contrast: #ffffff;

  --background-grey-color-standard: #2c2c2c;
  --background-color-for-grey-color-standard: #c9c9c9;
  --background-color-for-grey-color-standard-original: #c9c9c9;
  --background-color-for-grey-color-standard-contrast: #000000;

  --background-grey-color-dark: #5d5d5d;
  --background-color-for-grey-color-dark: #f3f3f3;
  --background-color-for-grey-color-dark-original: #f3f3f3;
  --background-color-for-grey-color-dark-contrast: #ffffff;

  --background-orange-color-standard: #ff6e00;
  --background-color-for-orange-color-standard: #f3f3f3;
  --background-color-for-orange-color-standard-original: #f3f3f3;
  --background-color-for-orange-color-standard-contrast: #ffffff;

  --background-black-color-standard: #000000;

  // new style variables
  --primary-color: #f5f7ff;
  --secondary-color: #ff8800;
  --font-color: #5c6181;
  --li-font-color: #ffffff;
  --bg-color: #151a36;
  --heading-color: #ffffff;
  --dark-color: #ffffff;
  --border-color: #f8f9ff;
  --activeText-color: #ffffff;
  --lightSky-bg: #22294f;
  --lightgrey-border: #ffffff;
  --active-blue: #0037ff;
  --white-color: #000000;
  --lightSkyWhite-bg: #22294f;
  --background-for-secondary-color: #3A2B2D;
  --background-for-primary-color: #22294f;
  --background-btn-blue:#22294F;
  --background-btn-blue-color: #ffffff;
  --primary-color-dm-orange: #ff8800;
  --brightnessIcons: brightness(3.5);
  --border-color-input: #22294f;
}


/*
 * Material Design Dark Theme
 * -------------------------------------------
 */

.md body[color-theme="dark"] {

  --ion-background-color: #000000;
  --ion-background-color-rgb: 0,0,0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-toolbar-background: #0d0d0d;

  --ion-item-background: #000000;
  --ion-item-background-activated: #313131;


  /** color **/
  --blue-color-standard: #ffffff; //hsl(240,100%,26.1%)
  --blue-color-dark: #ffffff;     //hsl(231,45.6%,28.8%)

  --grey-color-standard: #c9c9c9; //hsl(0,0%,78.8%)
  --grey-color-dark: #ffffff;     //hsl(0,0%,36.5%)

  --white-color-standard: #ffffff;  //hsl(0,0%,100%)
  --black-color-standard: #ffffff;  //hsl(0,0%,0%)
  --green-color-standard: #2dd36f;  //hsl(143.9,65.4%,50.2%)
  --red-color-standard: #ff7373;    //hsl(0,100%,50%)
  --orange-color-standard: #ffb47b; //hsl(25.9,100%,50%)

  /** background Color **/
  --background-white-color-standard: #151a36;
  --background-color-for-white-color-standard: #c5d3f9;
  --background-color-for-white-color-standard-original: #c5d3f9;
  --background-color-for-white-color-standard-contrast: #c5d3f9;

  --background-blue-color-standard: #000085;
  --background-color-for-blue-color-standard: #f3f3f3;
  --background-color-for-blue-color-standard-original: #f3f3f3;
  --background-color-for-blue-color-standard-contrast: #ffffff;

  --background-blue-color-dark: #28326b;
  --background-color-for-blue-color-dark: #f3f3f3;
  --background-color-for-blue-color-dark-original: #f3f3f3;
  --background-color-for-blue-color-dark-contrast: #ffffff;

  --background-grey-color-standard: #2c2c2c;
  --background-color-for-grey-color-standard: #c9c9c9;
  --background-color-for-grey-color-standard-original: #c9c9c9;
  --background-color-for-grey-color-standard-contrast: #000000;

  --background-grey-color-dark: #5d5d5d;
  --background-color-for-grey-color-dark: #f3f3f3;
  --background-color-for-grey-color-dark-original: #f3f3f3;
  --background-color-for-grey-color-dark-contrast: #ffffff;

  --background-orange-color-standard: #ff6e00;
  --background-color-for-orange-color-standard: #f3f3f3;
  --background-color-for-orange-color-standard-original: #f3f3f3;
  --background-color-for-orange-color-standard-contrast: #ffffff;

  --background-black-color-standard: #000000;

  // new style variables
  --primary-color: #f5f7ff;
  --secondary-color: #ff8800;
  --font-color: #5c6181;
  --li-font-color: #ffffff;
  --bg-color: #151a36;
  --heading-color: #ffffff;
  --dark-color: #ffffff;
  --border-color: #f8f9ff;
  --activeText-color: #ffffff;
  --lightSky-bg: #22294f;
  --lightgrey-border: #ffffff;
  --active-blue: #0037ff;
  --white-color: #000000;
  --lightSkyWhite-bg: #22294f;
  --background-for-secondary-color: #3A2B2D;
  --background-for-primary-color: #22294f;
  --background-btn-blue:#22294F;
  --background-btn-blue-color: #ffffff;
  --primary-color-dm-orange: #ff8800;
  --brightnessIcons: brightness(3.5);
  --border-color-input: #22294f;
}














