/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "assets/animate.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900&display=swap');

h1, h2, h3, h4, h5, h6, p, input, textarea, ion-buttons {
  font-family:  sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
}
ion-input, ion-textarea {
  font-family:  sans-serif!important;
  &::placeholder {
    color: #979bb9;
  }
}
p {
  font-size: 13px;
  line-height: 20px;
  color: var(--font-color);
}
ion-button {
  width: auto!important;
  box-shadow: inherit!important;
}
.button-solid {
  background: transparent;
}
input:focus {outline: none!important;}
.btn-transparent {
  --background: transparent!important;
  --color: #282331!important;
  --box-shadow: none;
  margin-top: 9px!important;
  font-size: .9rem!important;
}

.button{
  font-size: 0.86rem;
  text-align: center;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  white-space: unset;
  font-weight: 600;
  height: 2.8rem;
  --background: #ff8800;
  --border-radius: 30px;
  --color: #151a36;
  --box-shadow: 0 7px 12px -7px rgba(255, 136, 0, 0.92);
}
.btn-blue {
  --background: #f3f5ff;
  --box-shadow: 0 7px 12px -7px rgba(217, 219, 224, 0.92);
}
ion-fab-button {
  font-family: "Montserrat", sans-serif;
}
.button:focus {outline: none!important;}

ion-header {
  &::after {
    background-image: none!important;
  }
  .button {
    --background: transparent!important;
    --color: #fff!important;
    --box-shadow: none;
    margin: 0!important;
    font-size: 1.4rem!important;
  }
  .ios.button {
    font-size: .9rem !important
  }
  ion-title {
    font-family:  sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    img {
      width: 70px;
      margin: 6px 0 3px;
    }
  }
  ion-buttons {
    font-size: 22px;
  }
  .btn-right {
    margin-right: 15px;
    img {
      width: 20px;
    }
  }
}

ul {
  li {
    font-family:  sans-serif;
    color: var(--font-color);
  }
}
ion-toast {
  font-family:  sans-serif!important;
}
ion-label {
  font-family:  sans-serif!important;
}

// screen size adjustment
.ion-page {
  max-width: 845px;
  margin: 0 auto;
}