<ion-content>
  <div class="ion-menu">
    <ion-fab-button><img src="assets/imgs/ic_backarrow.png" alt=""></ion-fab-button>
  </div>

   <div class="venue-banner">
     <ion-slides  [options]="bannerSlider">
       <ion-slide>
         <img src="assets/imgs/res-3.jpg" alt="">
       </ion-slide>
       <ion-slide>
         <img src="assets/imgs/res-1.jpg" alt="">
       </ion-slide>
       <ion-slide>
         <img src="assets/imgs/res-2.jpg" alt="">
       </ion-slide>
     </ion-slides>
     <ul class="slider-bottom">
       <li><span>Indoor & Outdoor area</span></li>
       <li><span>3 / 25</span></li>
     </ul>
   </div>
   <div class="bottom-wrapper">


       <div class="top-grid">

         <div class="venue_name box-view">
           <h6>Restaurant | <span>0.7 Miles away</span></h6>
           <h3>Cecconi's Pizza Bar</h3>
           <h5><ion-icon name="star"></ion-icon>4.8 / 5 <span>350 Reviews</span></h5>
         </div>

         <div class="sharing-block box-view">
           <ul>
             <li><span><img src="assets/imgs/ic_share.png" alt=""></span><p>share</p></li>
             <li class="active"><span><img src="assets/imgs/ic_favorite.png" alt=""></span><p>favorite</p></li>
             <li><span><img src="assets/imgs/ic_likes.png" alt=""></span><p>23</p></li>
             <li><span><img src="assets/imgs/ic_dislike.png" alt=""></span><p>7</p></li>
           </ul>
         </div>
       </div>



    <div class="location-info">
      <ul>
        <li><span><img src="assets/imgs/ic_location.png" alt=""></span>
          <div class="info">
          19-21 Old Compton St, West End
          </div>
        </li>
        <li><span><img src="assets/imgs/ic_website.png" alt=""></span>
          <div class="info">
          www.gelupo.com
          </div>
        </li>      
        <li><span><img src="assets/imgs/ic_time.png" alt=""></span>
          <div class="info">
          Opening hours - 9:00 - 22:00 <ion-button><ion-icon name="chevron-down-outline"></ion-icon></ion-button>
          </div>
        </li>
      </ul>
    </div>


    <div class="accessibility-block">
       <h3>Accessibility</h3>
      <div class="individual_access">

        <div class="client-name-display">
          <div class="item-img">
            <span>
              <img src="assets/imgs/ic_entrance.png" alt="">
            </span>
          </div>
          <div class="item-information">
            <h6>Entrance</h6>
            <p>Main Entrance</p>
          </div>
        </div>

          <ul>
            <li>1 step</li>
            <li>Single door</li>
            <li>Manual door(s)</li>
            <li>Wide (>75cm)</li>
            <li>20+ cm high</li>
          </ul>

        <ion-button><span>See more</span><ion-icon name="chevron-down-outline"></ion-icon></ion-button>
      </div>
      <ion-button class="border-add-btn"> <img src="assets/imgs/ic_addItem.png" alt="">Add Accessibllilty Tags</ion-button>
    </div>

    <div class="photo-gallery">
      <h3>Photos<span><ion-button>All {{photoData.total_photos}} Photos</ion-button></span></h3>
      <ion-slides [options]="slidegallery">
        <ion-slide *ngFor="let photo of photoData.photos; let i=index;">
          <img src="{{photo.url}}" alt="">
        </ion-slide>      
      </ion-slides>

      <ion-button class="border-add-btn"><img src="assets/imgs/ic_addItem.png" alt="">Add Photos</ion-button>
    </div>


    <div class="review-block">
      <h3>Reviews<span><ion-button>All {{reviewData.total_reviews}} Reviews</ion-button></span></h3>
      <ion-slides [options]="slidereview">
          <ion-slide *ngFor="let data of reviewData.reviews; let i=index;">
            <div class="r_single">
                <div class="client-name-display">
                  <div class="item-img">
                    <img src="{{data.user.user_pic}}" alt="">
                  </div>
                  <div class="item-information">
                    <h5>{{data.user.user_name}}</h5>
                    <p>{{data.review.posted_at}}</p>
                    <ion-button class="more-btn"><ion-icon name="ellipsis-vertical"></ion-icon></ion-button>
                  </div>
                </div>
               <div class="mid-text">
                 <h6>{{data.user.category}}</h6>
                 <p>{{data.review.review_text}}</p>
               </div>

                <ul>
                  <li *ngFor="let reviewPhoto of data.review.review_pics; let i=index;">
                    <img src="{{reviewPhoto.pic_url}}" alt="">
                  </li>
                </ul>
              </div>
          </ion-slide>
      </ion-slides>

      <ion-button class="border-add-btn"> <img src="assets/imgs/ic_addItem.png" alt="">Add Reviews</ion-button>

    </div>


  </div>


</ion-content>
