.bottom-wrapper {
  padding-top: 30px;
  border-radius: 30px 30px 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--bg-color);
  height: 655px;
  z-index: 9;
  //overflow: auto;
  .venue_name {
    padding: 0 18px;
    background: var(--bg-color);
    h6 {
      font-size: 13px;
      margin: 0 0 2px;
      font-weight: 600;
      span {
        color: #c3c3c3;
      }
    }
    h3 {
      font-size: 20px;
      font-weight: 700;
      margin: 7px 0;
    }
    h5 {
      font-weight: 700;
      margin: 2px 0;
      font-size: 14px;
      ion-icon {
        color: var(--secondary-color);
        margin-right: 8px;
      }
      span {
        color: var(--primary-color);
        text-decoration: underline;
        margin-left: 10px;
      }
    }
  }

  .sharing-block {
    padding: 20px 18px 14px;
    background: var(--bg-color);
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style-type: none;
        display: inline-table;
        margin-right: 22px;
        text-align: center;
        span {
          width: 54px;
          height: 54px;
          text-align: center;
          line-height: 54px;
          display: inline-flex;
          background: #f3f5ff;
          margin: 0;
          padding: 16px;
          border-radius: 50%;
          img {
            width: auto;
          }
        }
        p {
          text-transform: capitalize;
          margin: 8px 0 0;
        }
      }
      .active {
        p {
          font-weight: 600;
          color: var(--activeText-color);
        }
      }
    }
  }
  .location-info {
    padding: 0 18px;
    background: var(--bg-color);
    ul {
      margin-bottom: 0;
      margin-top: 8px;
      border-top: 1px solid var(--border-color);
      border-bottom: 1px solid var(--border-color);
      padding: 18px 0 14px;
      li {
        list-style-type: none;
        font-size: 13px;
        padding: 0;
        font-weight: 500;
        display: flex;
        &:last-child {
          padding-bottom: 2px;
        }
        span {
          height: 42px;
          float: left;
        }
        .info {
          position: relative;
          text-align: left;
          width: 100%;
        }
        img {
          width: 18pt;
          margin-right: 8px;
          vertical-align: middle;
          position: relative;
          top: -3px;
        }
        ion-button {
          --background: transparent !important;
          margin: 0;
          --padding-end: 0;
          --padding-start: 0;
          height: auto;
          --box-shadow: none;
          color: var(--font-color);
          position: relative;
          top: -5px;
          left: 8px;
        }
      }
    }
  }
  .accessibility-block {
    padding: 0 18px;
    background: var(--bg-color);
    h3 {
      color: var(--heading-color);
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 12px;
    }
    .individual_access {
      background: var(--lightSky-bg);
      padding: 10px;
      border: 1px solid #f1f3f7;
      border-radius: 18px;
      margin-bottom: 16px;
      .client-name-display {
        width: 100%;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: row;
        margin: 10px 8px;
        .item-img {
          float: left;
          width: 56px;
          height: 58px;
          margin-right: 16px;
          overflow: hidden;
          position: relative;
          border-radius: 14px;
          span {
            width: 54px;
            height: 54px;
            text-align: center;
            line-height: 54px;
            display: inline-flex;
            background: var(--bg-color);
            margin: 0;
            padding: 14px;
            border-radius: 14px;
            box-shadow: 0 7px 12px -7px rgba(164, 176, 199);
          }
        }
        .item-information {
          position: relative;
          text-align: left;
          h6 {
            margin-top: 6px;
            font-size: 16px;
            color: var(--heading-color);
            font-weight: 700;
            line-height: 22px;
            margin-bottom: 0;
          }
          p {
            margin: 1px 0;
            font-size: 12px;
            line-height: 19px;
          }
        }
      }

      ul {
        margin: 0;
        padding: 0 0 0 12px;
        li {
          font-size: 0.8rem;
          padding-top: 10px;
          position: relative;
          font-weight: 500;
          list-style-type: none;
          &::before {
            content: "";
            background: #0037ff;
            position: relative;
            left: 0;
            width: 4px;
            height: 4px;
            top: -2px;
            margin-right: 8px;
            border-radius: 50%;
            display: inline-block;
          }
        }
      }
      ion-button {
        --background: transparent;
        --box-shadow: none;
        border-radius: 0;
        height: auto;
        --padding-start: 0;
        --padding-end: 0;
        color: var(--primary-color);
        letter-spacing: 0;
        font-size: 0.8rem;
        margin-left: 10px;
        margin-bottom: 10px;
        span {
          border-bottom: 1px solid;
          padding-bottom: 1px;
        }
        ion-icon {
          margin-left: 4px;
        }
      }
    }
  }
  .photo-gallery {
    padding: 16px 0 16px 20px;
    background: var(--bg-color);
    h3 {
      color: var(--heading-color);
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 17px;
      padding: 0 20px 0 0;
      position: relative;
      span {
        position: absolute;
        right: 20px;
        top: -3px;
        ion-button {
          --background: transparent;
          --box-shadow: none;
          border-radius: 0;
          height: auto;
          --padding-start: 0;
          --padding-end: 0;
          color: var(--primary-color);
          letter-spacing: 0;
          font-size: 0.83rem;
          border-bottom: 1px solid;
          margin: 0;
        }
      }
    }
    ion-slides {
      ion-slide {
        display: block;
        img {
          border-radius: 20px;
          object-fit: cover;
          height: 114px;
          width: 100%;
        }
      }
    }
  }
  .review-block {
    padding: 16px 0 20px 20px;
    background: var(--bg-color);
    h3 {
      color: var(--heading-color);
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 17px;
      padding: 0 20px 0 0;
      position: relative;
      span {
        position: absolute;
        right: 20px;
        top: -3px;
        ion-button {
          --background: transparent;
          --box-shadow: none;
          border-radius: 0;
          height: auto;
          --padding-start: 0;
          --padding-end: 0;
          color: var(--primary-color);
          letter-spacing: 0;
          font-size: 0.83rem;
          border-bottom: 1px solid;
          margin: 0;
        }
      }
    }
    ion-slides {
      ion-slide {
        display: block;
        .r_single {
          text-align: left;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(0, 0, 0, 0.05);
          padding: 10px;
          border-radius: 10px;
          .client-name-display {
            width: 100%;
            position: relative;
            text-align: center;
            display: flex;
            flex-direction: row;
            margin: 10px 8px;
            .item-img {
              float: left;
              width: 44px;
              height: 50px;
              margin-right: 12px;
              overflow: hidden;
              position: relative;
              border-radius: 14px;
              img {
                border-radius: 14px;
              }
            }
            .item-information {
              position: relative;
              text-align: left;
              width: 100%;
              h5 {
                margin-top: 0;
                font-size: 14px;
                color: var(--heading-color);
                font-weight: 700;
                line-height: 21px;
                margin-bottom: 0;
              }
              p {
                margin: 0;
                font-size: 11px;
                line-height: 19px;
              }
            }
            .more-btn {
              --background: var(--bg-color);
              --box-shadow: 2px 7px 12px -7px rgb(144 143 141 / 92%);
              position: absolute;
              right: 8px;
              top: -12px;
              margin: 0;
              --border-radius: 10px;
              width: 34px !important;
              height: 34px;
              --padding-start: 0;
              --padding-end: 0;
              ion-icon {
                color: var(--font-color);
              }
            }
          }
          h6 {
            text-align: center;
            margin: 0;
            width: max-content;
            background: #ffecd6;
            font-weight: 600;
            color: var(--secondary-color);
            font-size: 13px;
            padding: 5px 12px;
            border-radius: 20px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 75%;
          }
          p {
            font-size: 13px;
            line-height: 19px;
            margin: 10px 0 15px;
          }
          .mid-text {
            height: 130px;
            overflow: hidden;
            margin-bottom: 20px;
          }
          ul {
            margin: 0;
            padding: 0;
            li {
              list-style-type: none;
              display: inline-table;
              margin-right: 10px;
              img {
                width: 52px;
                border-radius: 16px;
                height: 52px;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}
.border-add-btn {
  --background: var(--bg-color);
  --box-shadow: none;
  border: 2px solid var(--lightgrey-border);
  border-radius: 30px;
  letter-spacing: 0;
  height: 2.6rem;
  img {
    width: 20px;
    margin-right: 6px;
  }
}

.venue-banner {
  position: relative;
  img {
    width: 100%;
    object-fit: cover;
    height: 220px;
  }
  .slider-bottom {
    margin: 0;
    padding: 0 16px;
    position: absolute;
    top: 72%;
    width: 100%;
    z-index: 9;
    li {
      list-style-type: none;
      display: inline-table;
      span {
        font-size: 12px;
        background: rgb(34, 41, 79, 0.88);
        color: #fff;
        padding: 4px 12px;
        border-radius: 30px;
      }
      &:last-child {
        float: right;
      }
    }
  }
}

.down-btn {
  position: relative;
}
.orange-add-btn {
  position: fixed;
  ion-fab-button {
    --background: var(--secondary-color);
    ion-icon {
      color: #151a36;
      font-size: 32px;
    }
  }
  ion-fab-list {
    background: #fff;
    left: -334%;
    padding: 20px 20px 12px;
    border-radius: 22px;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
  }
  ion-fab-button {
    img {
      width: 46px;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      font-size: 13px;
      padding: 0 0 12px;
      font-weight: 500;
      img {
        width: 18pt;
        margin-right: 8px;
        vertical-align: middle;
      }
    }
  }
}

.ion-menu {
  position: absolute;
  top: 5%;
  left: 18px;
  z-index: 9;
  ion-fab-button {
    --background: var(--bg-color);
    --color: var(--dark-color);
    width: 45px !important;
    height: 45px;
    --border-radius: 16px;
    --box-shadow: none;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .bottom-wrapper {
    height: 600px;
  }
  .venue-banner img {
    height: 268px;
  }
  .venue-banner .slider-bottom {
    top: 65%;
  }
}

@media screen and (orientation: landscape) and (min-device-width: 319px) and (max-device-width: 640px) {
  .bottom-wrapper {
    height: 195px;
  }
}

//landscape
@media screen and (orientation: landscape) and (min-device-width: 319px) and (max-device-width: 640px) {
  .ion-menu {
    ion-fab-button {
      width: 42px !important;
      height: 42px;
    }
  }
  .venue-banner {
    .slider-bottom {
      li span {
        font-size: 11px;
      }
    }
  }
  .orange-add-btn ul li {
    font-size: 12px;
    padding: 0 0 10px;
    img {
      width: 16pt;
    }
  }
  .bottom-wrapper {
    .venue_name {
      h3 {
        font-size: 18px;
      }
      h5 {
        font-size: 12px;
      }
      h6 {
        font-size: 12px;
      }
    }
    .sharing-block {
      ul {
        li {
          margin-right: 16px;
          span {
            width: 40px;
            height: 40px;
            line-height: 40px;
            padding: 12px;
          }
          p {
            margin: 5px 0 0;
            font-size: 11px;
          }
        }
      }
    }
    .location-info {
      ul {
        li {
          font-size: 12px;
          display: inline-block;
          width: 50%;
          span {
            height: 38px;
          }
          img {
            width: 14pt;
          }
        }
      }
    }
    .accessibility-block {
      h3 {
        font-size: 17px;
        margin-bottom: 15px;
      }
      .individual_access {
        ul {
          li {
            font-size: 0.72rem;
          }
        }
        .client-name-display {
          .item-information {
            h6 {
              font-size: 15px;
            }
            p {
              font-size: 11px;
              line-height: 18px;
            }
          }
          .item-img {
            width: 50px;
            height: 52px;
            margin-right: 14px;
            span {
              width: 48px;
              height: 48px;
              line-height: 48px;
            }
          }
        }
        ion-button {
          font-size: 0.76rem;
        }
      }
    }
    .photo-gallery {
      ion-slides {
        ion-slide {
          width: 120.556px !important;
        }
      }
    }
    .review-block {
      ion-slides ion-slide {
        width: 300.231px !important;
        .r_single {
          h6 {
            font-size: 11px;
            padding: 7px 12px;
          }
          p {
            font-size: 12px;
          }
          ul {
            li {
              img {
                width: 48px;
                height: 48px;
              }
            }
          }
        }
      }
    }
    .top-grid {
      float: left;
      width: calc(100% + 16px);
      left: -8px;
      position: relative;
      border-bottom: 1px solid var(--border-color);
      margin-bottom: 30px;
      .box-view {
        width: calc(50% - 16px);
        float: left;
        position: relative;
        top: 0;
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease 0s;
        margin: 8px;
        transform: translateZ(0);
        &:last-child {
          text-align: right;
        }
      }
    }
  }
}

//Tablet
@media (min-width: 768px) and (max-width: 991px) {
  .venue-banner {
    .slider-bottom {
      top: 68%;
    }
  }
  .bottom-wrapper {
    height: 195px;
    .venue_name {
      h3 {
        font-size: 18px;
      }
      h5 {
        font-size: 12px;
      }
      h6 {
        font-size: 12px;
      }
    }
    .sharing-block {
      ul {
        li {
          margin-right: 16px;
          span {
            width: 40px;
            height: 40px;
            line-height: 40px;
            padding: 12px;
          }
          p {
            margin: 5px 0 0;
            font-size: 11px;
          }
        }
      }
    }
    .top-grid {
      float: left;
      width: calc(100% + 16px);
      left: -8px;
      position: relative;
      .box-view {
        width: calc(50% - 16px);
        float: left;
        position: relative;
        top: 0;
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease 0s;
        margin: 8px;
        transform: translateZ(0);
        &:last-child {
          text-align: right;
          padding: 2px 18px 14px;
        }
      }
    }
    .location-info {
      ul {
        li {
          font-size: 12px;
          display: inline-block;
          width: 33%;
          span {
            height: 38px;
          }
          img {
            width: 14pt;
          }
        }
      }
    }
    .photo-gallery {
      ion-slides {
        ion-slide {
          width: 190.963px !important;
          img {
            height: 132px;
          }
        }
      }
    }
    .review-block {
      ion-slides ion-slide {
        width: 300.231px !important;
        .r_single {
          h6 {
            font-size: 11px;
            padding: 7px 12px;
          }
          p {
            font-size: 12px;
          }
          ul {
            li {
              img {
                width: 48px;
                height: 48px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .venue-banner {
    .slider-bottom {
      top: 68%;
    }
  }
  .bottom-wrapper {
    height: 575px;
    .venue_name {
      h3 {
        font-size: 18px;
      }
      h5 {
        font-size: 12px;
      }
      h6 {
        font-size: 12px;
      }
    }
    .sharing-block {
      ul {
        li {
          margin-right: 16px;
          span {
            width: 40px;
            height: 40px;
            line-height: 40px;
            padding: 12px;
          }
          p {
            margin: 5px 0 0;
            font-size: 11px;
          }
        }
      }
    }
    .top-grid {
      float: left;
      width: calc(100% + 16px);
      left: -8px;
      position: relative;
      border-bottom: 1px solid var(--border-color);
      margin-bottom: 30px;
      .box-view {
        width: calc(50% - 16px);
        float: left;
        position: relative;
        top: 0;
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease 0s;
        margin: 8px;
        transform: translateZ(0);
        &:last-child {
          text-align: right;
          padding: 2px 18px 14px;
        }
      }
    }
    .location-info {
      ul {
        li {
          font-size: 12px;
          display: inline-block;
          width: 33.33%;
          span {
            height: 38px;
          }
          img {
            width: 14pt;
          }
        }
      }
    }
    .photo-gallery {
      ion-slides {
        ion-slide {
          width: 196.963px !important;
          img {
            height: 154px;
          }
        }
      }
    }
    .review-block {
      ion-slides ion-slide {
        width: 330.231px !important;
        .r_single {
          h6 {
            font-size: 11px;
            padding: 7px 12px;
          }
          p {
            font-size: 12px;
          }
          ul {
            li {
              img {
                width: 48px;
                height: 48px;
              }
            }
          }
        }
      }
    }
  }
}

//Tablet
@media (min-width: 768px) and (max-width: 991px) {
  .bottom-wrapper .location-info ul {
    border-top: 1px solid var(--border-color);
    float: left;
    width: 100%;
    padding-top: 30px;
    margin-bottom: 25px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .bottom-wrapper .location-info ul {
    border-top: none;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {
  .bottom-wrapper {
    height: 210px !important;
  }
  .venue-banner .slider-bottom {
    top: 53%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .bottom-wrapper {
    height: 834px !important;
  }
}
//ipad pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  .bottom-wrapper {
    height: 1170px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
  .bottom-wrapper {
    height: 850px;
  }
}
//pixel
@media screen and (min-device-width: 411px) and (max-device-width: 731px) and (orientation: portrait) {
  .bottom-wrapper {
    height: 570px;
  }
}
@media screen and (min-device-width: 411px) and (max-device-width: 731px) and (orientation: landscape) {
  .bottom-wrapper {
    height: 220px;
  }
}
@media screen and (min-device-width: 412px) and (max-device-width: 823px) and (orientation: portrait) {
  .bottom-wrapper {
    height: 645px;
  }
}
//iphone8
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .bottom-wrapper {
    height: 570px;
  }
}

//
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {
  .bottom-wrapper .photo-gallery ion-slides ion-slide {
    width: 148.963px !important;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .bottom-wrapper .photo-gallery ion-slides ion-slide {
    width: 160.963px !important;
  }
  .bottom-wrapper .photo-gallery ion-slides ion-slide img {
    height: 154px;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  .bottom-wrapper .photo-gallery ion-slides ion-slide {
    width: 170.963px !important;
  }
}

.bottom-wrapper .location-info ul li {
  font-weight: 600;
}

.bottom-wrapper .location-info ul li img {
  margin-right: 15px;
}

/********************** Desktop Responsive *******************/
@media (min-width: 992px) {
  ion-header {
    padding: 0 80px;
  }
  ion-content {
    .ion-padding {
      padding: 16px 80px;
      text-align: left;
    }
  }
}
